<a href="https://colab.research.google.com/github/NoeliaFerrero/Python-PANDAS/blob/main/Dataset_pinguinos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Redes Neuronales

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importar libreria: pandas

Pandas tiene funciones útiles para usar con set de datos.

In [ ]:
import pandas as pd

## 1. Obtener los datos

https://www.kaggle.com/ashkhagan/palmer-penguins-datasetalternative-iris-dataset

*DEFINICION DE COLUMNAS*


ETIQUETA
*   species: especie del pingüino: Adelie, Chinstrap. Gentoo

ATRIBUTOS
*   Eisland: Isla en donde están los pingüinos: Biscoe, Dream or Torgersen
*   bill_length_mm:  largo del pico en milimetros 
*   bill_depth_mm: ancho del pico en milimetros
*   flipper_length_mm: largo de la aleta en milimetros
*   body_mass_g: masa corporal en gramos
*   sex: indica si el sexo del pingüino: female, male

In [ ]:
datos=pd.read_csv('/content/penguins.csv')

## 2. Inspeccionar los datos

In [ ]:
datos

       species     island  ...  body_mass_g     sex
0       Adelie  Torgersen  ...       3750.0    male
1       Adelie  Torgersen  ...       3800.0  female
2       Adelie  Torgersen  ...       3250.0  female
3       Adelie  Torgersen  ...          NaN     NaN
4       Adelie  Torgersen  ...       3450.0  female
..         ...        ...  ...          ...     ...
339  Chinstrap      Dream  ...       4000.0    male
340  Chinstrap      Dream  ...       3400.0  female
341  Chinstrap      Dream  ...       3775.0    male
342  Chinstrap      Dream  ...       4100.0    male
343  Chinstrap      Dream  ...       3775.0  female

[344 rows x 7 columns]

Ver las primeras columnas

In [ ]:
datos.head(10)

  species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1  ...              181.0       3750.0    male
1  Adelie  Torgersen            39.5  ...              186.0       3800.0  female
2  Adelie  Torgersen            40.3  ...              195.0       3250.0  female
3  Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen            36.7  ...              193.0       3450.0  female
5  Adelie  Torgersen            39.3  ...              190.0       3650.0    male
6  Adelie  Torgersen            38.9  ...              181.0       3625.0  female
7  Adelie  Torgersen            39.2  ...              195.0       4675.0    male
8  Adelie  Torgersen            34.1  ...              193.0       3475.0     NaN
9  Adelie  Torgersen            42.0  ...              190.0       4250.0     NaN

[10 rows x 7 columns]

Ver cantidad de filas y columnas del dataset

In [ ]:
datos.shape

(344, 7)

Listar los nombres de cada columna

In [ ]:
datos.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

Cambiar nombre de columnas para que sea más fácil de interpretar

In [ ]:
datos.rename(columns={'species':'especie',
                      'island': 'isla',
                      'bill_length_mm':'largo_pico',
                      'bill_depth_mm':'ancho_pico',
                      'flipper_length_mm': 'largo_aleta',
                      'body_mass_g':'masa_corporal',
                      'sex':'sexo'},
             inplace=True)

In [ ]:
datos.head()

  especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
0  Adelie  Torgersen        39.1  ...        181.0         3750.0    male
1  Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2  Adelie  Torgersen        40.3  ...        195.0         3250.0  female
3  Adelie  Torgersen         NaN  ...          NaN            NaN     NaN
4  Adelie  Torgersen        36.7  ...        193.0         3450.0  female

[5 rows x 7 columns]

Ver las tipologias de las columnas

In [ ]:
datos.dtypes

especie           object
isla              object
largo_pico       float64
ancho_pico       float64
largo_aleta      float64
masa_corporal    float64
sexo              object
dtype: object

seleccionar algunas columnas

In [ ]:
datos[['isla', 'sexo']]

          isla    sexo
0    Torgersen    male
1    Torgersen  female
2    Torgersen  female
3    Torgersen     NaN
4    Torgersen  female
..         ...     ...
339      Dream    male
340      Dream  female
341      Dream    male
342      Dream    male
343      Dream  female

[344 rows x 2 columns]

In [ ]:
datos[['isla', 'sexo']].head()

        isla    sexo
0  Torgersen    male
1  Torgersen  female
2  Torgersen  female
3  Torgersen     NaN
4  Torgersen  female

In [ ]:
datos.iloc[0:6,3:5]

   ancho_pico  largo_aleta
0        18.7        181.0
1        17.4        186.0
2        18.0        195.0
3         NaN          NaN
4        19.3        193.0
5        20.6        190.0

Ver valores unicos en las columnas

In [ ]:
datos['isla'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [ ]:
datos['isla'].nunique()

3

Ver si hay valores nulos

In [ ]:
datos.isnull().sum()

especie           0
isla              0
largo_pico        2
ancho_pico        2
largo_aleta       2
masa_corporal     2
sexo             11
dtype: int64

Contar los diferentes valores de las columnas

In [ ]:
datos[['especie']].value_counts()

especie
Adelie       152
Gentoo       124
Chinstrap     68
dtype: int64

In [ ]:
datos[['sexo']].value_counts()

sexo
male      168
female    165
dtype: int64

Filtros

Seleccionar los pingüino de la especie Adelie

In [ ]:
datos[datos.especie=='Adelie']

    especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
0    Adelie  Torgersen        39.1  ...        181.0         3750.0    male
1    Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2    Adelie  Torgersen        40.3  ...        195.0         3250.0  female
3    Adelie  Torgersen         NaN  ...          NaN            NaN     NaN
4    Adelie  Torgersen        36.7  ...        193.0         3450.0  female
..      ...        ...         ...  ...          ...            ...     ...
147  Adelie      Dream        36.6  ...        184.0         3475.0  female
148  Adelie      Dream        36.0  ...        195.0         3450.0  female
149  Adelie      Dream        37.8  ...        193.0         3750.0    male
150  Adelie      Dream        36.0  ...        187.0         3700.0  female
151  Adelie      Dream        41.5  ...        201.0         4000.0    male

[152 rows x 7 columns]

Seleccionar los pingüinos femeninos

In [ ]:
datos[datos.sexo=='female']

       especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
1       Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2       Adelie  Torgersen        40.3  ...        195.0         3250.0  female
4       Adelie  Torgersen        36.7  ...        193.0         3450.0  female
6       Adelie  Torgersen        38.9  ...        181.0         3625.0  female
12      Adelie  Torgersen        41.1  ...        182.0         3200.0  female
..         ...        ...         ...  ...          ...            ...     ...
335  Chinstrap      Dream        45.6  ...        194.0         3525.0  female
337  Chinstrap      Dream        46.8  ...        189.0         3650.0  female
338  Chinstrap      Dream        45.7  ...        195.0         3650.0  female
340  Chinstrap      Dream        43.5  ...        202.0         3400.0  female
343  Chinstrap      Dream        50.2  ...        198.0         3775.0  female

[165 rows x 7 columns]

Seleccionar los pingüinos con masa corporal mayor a 6000

In [ ]:
datos[datos.masa_corporal>6000]

    especie    isla  largo_pico  ancho_pico  largo_aleta  masa_corporal  sexo
169  Gentoo  Biscoe        49.2        15.2        221.0         6300.0  male
185  Gentoo  Biscoe        59.6        17.0        230.0         6050.0  male

¿Cómo hacemos si queremos filtrar los pingüino femeninos y de la especie Adelie?

In [ ]:
datos[(datos.sexo=='female') &(datos.especie=='Adelie')]

    especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
1    Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2    Adelie  Torgersen        40.3  ...        195.0         3250.0  female
4    Adelie  Torgersen        36.7  ...        193.0         3450.0  female
6    Adelie  Torgersen        38.9  ...        181.0         3625.0  female
12   Adelie  Torgersen        41.1  ...        182.0         3200.0  female
..      ...        ...         ...  ...          ...            ...     ...
142  Adelie      Dream        32.1  ...        188.0         3050.0  female
144  Adelie      Dream        37.3  ...        192.0         3000.0  female
147  Adelie      Dream        36.6  ...        184.0         3475.0  female
148  Adelie      Dream        36.0  ...        195.0         3450.0  female
150  Adelie      Dream        36.0  ...        187.0         3700.0  female

[73 rows x 7 columns]

### Visualizaciones y Gráficos

In [ ]:
import plotly.express as px

¿Cuántos pingüinos hay en cada isla?

In [ ]:
px.histogram(datos,
             x='isla',
             width=500)

¿Cuántos pingüinos hay de cada especie?

In [ ]:
px.histogram(datos, 
             x='especie',
             height=400, # alto
             width=400 #ancho
             )

In [ ]:
fig=px.histogram(datos, 
             x='especie',
             height=400, width=400
             )
fig.update_layout(title='Cantidad de pinguinos de cada especie',
                  yaxis_title='Cantidad',
                  xaxis_title=' Estas son las Especies')
fig.show()

¿Cada especie vive en una isla distinta?

In [ ]:
fig=px.histogram(datos, 
             x='isla',
             color='especie',
             height=500, 
             width=800)

fig.show()

¿Cómo es el ancho y el largo de los picos de los pingüinos?

In [ ]:
fig=px.scatter(datos,
           x='ancho_pico',
           y='largo_pico')

fig.show()

¿Hay diferencias entre los picos de cada especie?

In [ ]:
fig=px.scatter(datos,
           x='ancho_pico',
           y='largo_pico',
           color='especie')

fig.show()

Otras Preguntas:
- ¿Los pingüinos con mayor masa corportal tienen las aletas mas grandes?
- ¿Los pingüinos con mayor masa corportal tienen picos más largos?
- ¿Qué especie tiene mayor masa corporal?

In [ ]:
#¿Los pingüinos con mayor masa corportal tienen las aletas mas grandes?
fig=px.scatter(datos,
           x='largo_aleta',
           y='masa_corporal',
           color='especie',
           width=800)

fig.show()

In [ ]:
#¿Los pingüinos con mayor masa corportal tienen picos mas largos?
fig=px.scatter(datos,
           x='largo_pico',
           y='masa_corporal',
           color='especie')

fig.show()

In [ ]:
#Especie con mayor masa corporal
fig=px.histogram(datos,
           x='masa_corporal',
           color='especie',
           barmode='overlay',
           width=800)

fig.show()

## 3. Pre-procesar los datos

### Valores nulos

In [ ]:
datos.head()

  especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
0  Adelie  Torgersen        39.1  ...        181.0         3750.0    male
1  Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2  Adelie  Torgersen        40.3  ...        195.0         3250.0  female
3  Adelie  Torgersen         NaN  ...          NaN            NaN     NaN
4  Adelie  Torgersen        36.7  ...        193.0         3450.0  female

[5 rows x 7 columns]

In [ ]:
datos.isnull().sum()

especie           0
isla              0
largo_pico        2
ancho_pico        2
largo_aleta       2
masa_corporal     2
sexo             11
dtype: int64

- Eliminar las filas con valores nulos

In [ ]:
datos.shape

(344, 7)

In [ ]:
datos.dropna()

       especie       isla  largo_pico  ...  largo_aleta  masa_corporal    sexo
0       Adelie  Torgersen        39.1  ...        181.0         3750.0    male
1       Adelie  Torgersen        39.5  ...        186.0         3800.0  female
2       Adelie  Torgersen        40.3  ...        195.0         3250.0  female
4       Adelie  Torgersen        36.7  ...        193.0         3450.0  female
5       Adelie  Torgersen        39.3  ...        190.0         3650.0    male
..         ...        ...         ...  ...          ...            ...     ...
339  Chinstrap      Dream        55.8  ...        207.0         4000.0    male
340  Chinstrap      Dream        43.5  ...        202.0         3400.0  female
341  Chinstrap      Dream        49.6  ...        193.0         3775.0    male
342  Chinstrap      Dream        50.8  ...        210.0         4100.0    male
343  Chinstrap      Dream        50.2  ...        198.0         3775.0  female

[333 rows x 7 columns]

- Reemplazar los valores nulos por otro valor

Si el atributo (columna) es del tipo numerico, podemos reemplazar por el promedio

In [ ]:
datos['largo_pico'].mean()

43.921929824561424

In [ ]:
datos['largo_pico'].fillna(43.9, inplace=True)

In [ ]:
datos.isnull().sum()

especie           0
isla              0
largo_pico        0
ancho_pico        2
largo_aleta       2
masa_corporal     2
sexo             11
dtype: int64

In [ ]:
datos['ancho_pico'].mean()

17.15116959064328

In [ ]:
datos['ancho_pico'].fillna(17.15, inplace=True)

In [ ]:
datos['largo_aleta'].mean()

200.91520467836258

In [ ]:
datos['largo_aleta'].fillna(200.9, inplace=True)

In [ ]:
datos['masa_corporal'].mean()

4201.754385964912

In [ ]:
datos['masa_corporal'].fillna(4201.7, inplace=True)

Si el atributo (columna) es del tipo texto, podemos reemplazar por el valor que mas aparece.

In [ ]:
datos['sexo'].value_counts()

male      168
female    165
Name: sexo, dtype: int64

In [ ]:
datos['sexo'].fillna('male', inplace=True)

In [ ]:
datos.isnull().sum()

especie          0
isla             0
largo_pico       0
ancho_pico       0
largo_aleta      0
masa_corporal    0
sexo             0
dtype: int64

### Valores extremos (outliers)


<img src="https://1.bp.blogspot.com/-QF9Y3ywJKZw/W7pjfM3rQaI/AAAAAAAAW3A/kdbRl5QLO-gp8ZJI65BrMYERT6oHKpFFQCLcBGAs/s1600/Captura3.PNG">

Grafico BOXPLOT

In [ ]:
px.box(datos,
       y='largo_pico',
       width=400)

In [ ]:
px.box(datos,
       y='ancho_pico',
       width=400)

In [ ]:
px.box(datos,
       y='masa_corporal',
       width=400)

### Variables categóricas

- Primer metodo para transformar

<img src="https://etlpoint.com/wp-content/uploads/2020/07/77.png" height="200" />

In [ ]:
datos=pd.get_dummies(datos, columns=['sexo'])
datos

       especie       isla  largo_pico  ...  masa_corporal  sexo_female  sexo_male
0       Adelie  Torgersen        39.1  ...         3750.0            0          1
1       Adelie  Torgersen        39.5  ...         3800.0            1          0
2       Adelie  Torgersen        40.3  ...         3250.0            1          0
3       Adelie  Torgersen        43.9  ...         4201.7            0          1
4       Adelie  Torgersen        36.7  ...         3450.0            1          0
..         ...        ...         ...  ...            ...          ...        ...
339  Chinstrap      Dream        55.8  ...         4000.0            0          1
340  Chinstrap      Dream        43.5  ...         3400.0            1          0
341  Chinstrap      Dream        49.6  ...         3775.0            0          1
342  Chinstrap      Dream        50.8  ...         4100.0            0          1
343  Chinstrap      Dream        50.2  ...         3775.0            1          0

[344 rows x 8 columns]

In [ ]:
datos.especie.unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [ ]:
datos=pd.get_dummies(datos, columns=['especie'])
datos

          isla  largo_pico  ...  especie_Chinstrap  especie_Gentoo
0    Torgersen        39.1  ...                  0               0
1    Torgersen        39.5  ...                  0               0
2    Torgersen        40.3  ...                  0               0
3    Torgersen        43.9  ...                  0               0
4    Torgersen        36.7  ...                  0               0
..         ...         ...  ...                ...             ...
339      Dream        55.8  ...                  1               0
340      Dream        43.5  ...                  1               0
341      Dream        49.6  ...                  1               0
342      Dream        50.8  ...                  1               0
343      Dream        50.2  ...                  1               0

[344 rows x 10 columns]

- Segundo metodo para transformar

![Captura.PNG]()

In [ ]:
datos.isla.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [ ]:
mapear = {'Torgersen':0,
          'Biscoe': 1,
          'Dream': 2}

In [ ]:
mapear

{'Biscoe': 1, 'Dream': 2, 'Torgersen': 0}

In [ ]:
datos['isla']=datos['isla'].replace(mapear)

In [ ]:
datos.head()

   isla  largo_pico  ...  especie_Chinstrap  especie_Gentoo
0     0        39.1  ...                  0               0
1     0        39.5  ...                  0               0
2     0        40.3  ...                  0               0
3     0        43.9  ...                  0               0
4     0        36.7  ...                  0               0

[5 rows x 10 columns]

Escalar los datos

## 4. Dividir en set de entrenamiento y set de prueba

In [ ]:
datos.head()

   isla  largo_pico  ...  especie_Chinstrap  especie_Gentoo
0     0        39.1  ...                  0               0
1     0        39.5  ...                  0               0
2     0        40.3  ...                  0               0
3     0        43.9  ...                  0               0
4     0        36.7  ...                  0               0

[5 rows x 10 columns]

**Separar los atributos del target**

In [ ]:
datos.iloc[:, 7:]

     especie_Adelie  especie_Chinstrap  especie_Gentoo
0                 1                  0               0
1                 1                  0               0
2                 1                  0               0
3                 1                  0               0
4                 1                  0               0
..              ...                ...             ...
339               0                  1               0
340               0                  1               0
341               0                  1               0
342               0                  1               0
343               0                  1               0

[344 rows x 3 columns]

In [ ]:
datos.iloc[:, :7]

     isla  largo_pico  ancho_pico  ...  masa_corporal  sexo_female  sexo_male
0       0        39.1       18.70  ...         3750.0            0          1
1       0        39.5       17.40  ...         3800.0            1          0
2       0        40.3       18.00  ...         3250.0            1          0
3       0        43.9       17.15  ...         4201.7            0          1
4       0        36.7       19.30  ...         3450.0            1          0
..    ...         ...         ...  ...            ...          ...        ...
339     2        55.8       19.80  ...         4000.0            0          1
340     2        43.5       18.10  ...         3400.0            1          0
341     2        49.6       18.20  ...         3775.0            0          1
342     2        50.8       19.00  ...         4100.0            0          1
343     2        50.2       18.70  ...         3775.0            1          0

[344 rows x 7 columns]

In [ ]:
y=datos.iloc[:, 7:]
X=datos.iloc[:, 0:7]

**Dividir en set de entrenamiento y prueba**

Documentación:

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

Scikit-Learn (sklearn) es una  librería gratuita para Python. Cuenta con algoritmos de para machine learning y también para preprocesamiento de datos. Es muy utilizada en inteligencia artificial.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 0)

**Escalar los datos**

El escalado va a transformar los valores de los atributos de forma que estén confinados en un rango [0, 1]. Para darle a todas las columnas la misma importancia y evitar errores.

Es importante que el escalador deberá realizarse *fit_transform* solo con los datos de entrenamiento. Y que deberá aplicarse solo el *transform* para los datos de prueba.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
X_train=pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)

In [ ]:
X_test=pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

## 5. Crear red neuronal


*Keras* es una libreria de redes neuronales artificiales de código abierto

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

**Red neuronal 1**

Creamos la red neural que se va a llamar modelo_1

In [ ]:
modelo_1 = Sequential()

Creamos la capa primer capa.

input_dim: son la cantidad de entradas
activation: es la función de activación. Algunas ya vienen definidas y vamos a utilizar "relu"

In [ ]:
X_train.shape

(292, 7)

In [ ]:
modelo_1.add(Dense(2, input_dim=7, activation='relu'))

Creamos las capas ocultas

In [ ]:
modelo_1.add(Dense(4, activation='relu'))

Creamos la capa de salida.

Aquí la función de activacion debe ser "Softmax"

In [ ]:
modelo_1.add(Dense(3, activation='softmax'))

Finalmente, debemos compilar nuestra red neuronal.  Al compilar el modelo se mandan llamar las librerias en el backend. En este caso el backend automáticamente selecciona la mejor forma de representar la red neuronal para entrenamiento y realizar predicciones en el hardware. 

Cuando se compila el modelo, se deben definir algunas propiedades:
 
- Optimizador utilizado para buscar entre los pesos de la red.
- Loss function, que es utilizada para evaluar los pesos.
- Métricas: forma en que vamos a evaluar el modelo.

In [ ]:
modelo_1.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

Visualizar la estructura de la red neuronal

In [ ]:
!pip3 install keras-visualizer

Collecting keras-visualizer
  Downloading keras_visualizer-2.4-py3-none-any.whl (5.4 kB)
Installing collected packages: keras-visualizer
Successfully installed keras-visualizer-2.4

In [ ]:
from keras_visualizer import visualizer 
visualizer(modelo_1, format='png',  filename='red_neuronal_1')



**Red Neuronal 2**

In [ ]:
modelo_2 = Sequential()
modelo_2.add(Dense(2, input_dim=7, activation='relu'))
modelo_2.add(Dense(4, activation='relu'))
modelo_2.add(Dense(2, activation='relu'))
modelo_2.add(Dense(4, activation='relu'))
modelo_2.add(Dense(3, activation='softmax'))


modelo_2.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

visualizer(modelo_2, format='png',  filename='red_neuronal_2')